.topo {
  background-color: #f7f7f7;
  /* background-color: lightseagreen;*/
  box-shadow: var(--sombra-box);
}

.topo h1 a {
  text-decoration: none;
  color: var(--cor-primaria);
  background-color: var(--cor-primaria-fundo);
  padding: 0.5rem 1.2rem;
  border-radius: var(--borda-arredondada);
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.topo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.topo img {
  width: 48px;
  margin-right: 0.5rem;
}

.topo h1 a:hover,
.topo h1 a:focus {
  color: var(--cor-secundaria-hover);
}

@media screen and (min-width: 700px) {
  .topo div {
    flex-direction: row;
    padding-bottom: 0;
  }

  .topo h1 a {
    font-size: 2rem;
  }

  .topo img {
    width: 50px;
  }
}
